body {
  color: #F2F6F3;
  background: #151515;
  text-align: justify;
}

p img, li img, h1 img, h2 img, h3 img, h4 img, dt img {
	max-height: 1em;
	max-width: 1em;
	vertical-align: middle ;
}

a { color: #A5D6FF ; text-decoration: none ;}

dl { 
  display: inline-flex;
  text-align: center;
}

footer {
	text-align: center ;
	font-variant: small-caps ;
	clear: both ;
	padding: 2em 0 ;
}

footer li {
	display: inline-block ;
	padding: 0 .5em ;
	font-size: x-large ;
}

footer li:hover {
	background: #A5D6FF  ;
}
