body {
	background: #151515 ;
	color: #E1E1E1 ;
	max-width: 750px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	scrollbar-color: #151515 ;
	font-family: sans-serif ;
}

main {
	max-width: 750px ;
	margin: auto ;
}

main > article {
	background: #151515 ;
	color: #E1E1E1 ;
	margin-bottom: 0 ;
  text-align: justify;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
  text-shadow: 3px 0 black, 3px 3px black, 0 3px black;
}

h1 {
	border-style: solid ;
	border-width: 0px 0px 2px 0px ;
	text-align: center ;
}

h2 {
	color: #151515 ;
	text-align: center ;
}

ul {
  margin: 1em;
  padding: 0;
}

footer {
	max-width: 300px ;
	background: #151515 ;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 6px ;
	text-align: center ;
	clear: both ;
}

code {
	color: #F4BF75 ;
	overflow-wrap: break-word ;
	font-size: 10pt ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}

#prevart {
	float: left ;
	text-align: left ;
}

#nextart {
	float: right ;
	text-align: right ;
}

#nextart,#prevart {
	max-width: 33% ;
}

table, th, td {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}
